@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 100%, 99%);
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif
}

.Sidebar {
  width: 130px;
  height: 100%;
  background-color: #2c2f33;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgba(255, 255, 255, 0.863);
}

.Sidebar h3:hover {
  cursor: pointer;
  color: lightgreen;
}

.Contactslist {
  width: 90%;
  height: 100%;
}

.contactContainer {
  display: flex;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s all;
  overflow: hidden;
}

.contactContainer:hover {
  transform: translateY(-10px);
  box-shadow: -6px 10px 6px rgba(0, 0, 0, 0.25);
  /* opacity: 1; */
}

.imageContainer {
}


.imageContainer img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.contactInfo {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  margin-left: 30px;
}